.userContainer{
    display: flex;
    margin: 20px;

    p{
        margin: 0 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 300;
        color: #4d96ec;
    }
}